<div class="container">
  <h1>Welcome to User Auth-Auth!</h1>

  <form action="/users/login" method="post">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>
</div>
<div class="container">
  <a href="/users/new">New Account</a>
</div>
