<div class="container">
  <h1>Sign Up For Auth-Auth!</h1>

  <form action="/users" method="post">
    Email: <input type="text" name="user[email]">
    Password: <input type="password" name="new_password"><br><br>
    <input type="submit" value="Create Account">
  </form>
</div>